RankRow {
    border: 2px solid black;
}

* {
    font-family: "汉仪旗黑 75S";
    font-size: 24px;
}

RankRow {
    font-family: "汉仪旗黑 55S" !important;
    font-size: 24px;
}

/*
QLabel {
    transform: rotate(-30deg);
    border-image: url(./uno/out.png);
}
*/